/*General*/
*
{
	margin: 0;
	padding: 0;
}

body
{
 font-family: arial, sans-serif;
 font-size: 17px;
 background-color:#efefef;
}

h1
{
 font-size: 45px;
 margin-bottom: 20px;
 color:#777;
}

h4
{
 font-size: 24px;
 color: #444;

}
h3
{
 font-size: 30px;
 color: #444;
}
p
{
 line-height: 20px;
 color: #444;
}
ul
{
	float: left;
	list-style: none;
}
a
{
	text-decoration: none;
	color: #777;
}
.boop
{
	width: 970px;
	margin: 0 auto;
	padding: 0 20px;
}
.orange
{
	color:orange;
}
.clear
{
	clear:both;
}
.small
{
	font-size: 13px;

}
.content a
{
 margin-right:100px;
 padding-right: 10px;
 padding-left: 90px;
}
/*header*/
header
{
	height: 130px;
}
header h1
{
 float: left;
 margin-top: 32px;
}
header nav
{
	float: right;
	margin: 50px;
}
header nav ul li
{
	display: inline-block;
}
header nav ul li a
{
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 20px;
}
/*main-image*/
#main-image
{
  height: 580px;
  background: url(images/mediterranean-cuisine-2378758_960_720.jpg);
}
/*steps*/
 #steps
 {
 	height: 610px;
 	
 }
 #steps ul
 {
  margin: 90px 0;
 }
 #steps ul li
 {
 	width: 300px;
 	float: left;
 	text-align: center;
 	padding-top: 145px;
 	margin-right: 10px;
 }
 #steps h4
 {
 	text-transform: uppercase;
 	text-align: center;
 }
 #steps-1
 {
 	background: url(images/Plaque-Gault-et-Millau.jpg) no-repeat top center;
 }
 #steps-2 
 {
 	background: url(images/Guide-michelin.jpg) no-repeat top center;
 	height: 120px;
 }
 #steps-3
 {
 	background: url(images/steps-icon-2.png) no-repeat top center;
 }
 /*possibilities*/
#possibilities
{
   height:300px;

  padding: 60px 0px;
}

#possibilities article
{
    width: 460px;
    height: 270px;
	float: left;
	border-radius: 10px;
}
#possibilities article:first-child
{
	margin-right: 20px;
}

#possibilities article h4
{
	text-transform: uppercase;
	padding-top: 20px;
	margin-top: 20px;
	color: #FE9F33;
}
#possibilities p
{
	text-align: center;
	margin-top: 20px;
	font-style: 32px;
	font-weight: bold;
	color: #FF9E30;
}
.button-1
{
	display:block;
	color: #fff;
	width: 105px;
	height: 30px;
	background: #FF9E30;
	border-radius: 5px;
	text-align: center;
	margin:0 auto;
	line-height: 20px;
}
/*contact*/
#contact
{
 text-align: center;
}
#contact h3
{
 text-transform: uppercase;
 margin-bottom: 20px;
 padding-bottom: 20px;
}
form
{
  margin: 60px 0 20px 0;
}
label
{
	font-weight: bold;
	font-size: 20px;
	margin-right: 10px;
	color: #777;
}
input[type="text"]
{
	font-size: 20px;
	margin-right: 20px;
	border: 2px solid #ddd;
	border: 2px;
}
.button-3
{
 color: #777;
 font-size: 20px;
 padding: 5px;
 background-color:#FF9E30;
 border-style: none;
 border-radius:3px;  
}
/*footer*/
footer
{
	height: 260px;
	background-color:#444; 
}
footer h1
{
 color: #777;
 text-align: center;
}

.copyright
{
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
	color: #777;
}
